.card {
  background-color: #edefee;
  border-radius: 16px;
  width: 100%;
}

.card-content {
  padding: 1rem;
}

.card img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 100%;
}

.card-title {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.card-title h4 {
  color: black;
  font-weight: bold;
}

.price {
  color: #ee9872;
}

.card-content > p {
  color: #495e57;
}
